.button {
  margin: 0;
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 4px;
  font-family: Impact, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 36px;
  line-height: 4rem;
  letter-spacing: 2px;
  padding: 0 1rem;
  cursor: pointer;
  user-select: none;
  &--full-width {
    width: 100%;
  }
}

@media (--xs) {

}