.footer {
  padding:  1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__copyright {
    font-family: sans-serif;
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
  }
}
