<div class="book-tickets" id="book-tickets">
    <form class="book-tickets-form">
        <label class="book-tickets-form__label">
            <input type="text" placeholder="Name" class="book-tickets-form__input">
        </label>

        <label class="book-tickets-form__label">
            <input type="text" placeholder="Surname" class="book-tickets-form__input">
        </label>

        <label class="book-tickets-form__label">
            <input type="email" placeholder="E-mail" class="book-tickets-form__input">
        </label>

        <button class="button button--full-width">Order</button>
    </form>
</div>