<div class="header">
    <div class="header__wrapper">
        <p class="header__location">Hope valley farm, England</p>
        <p class="header__title" data-text="POSTROCK FESTIVAL">POSTROCK FESTIVAL</p>
        <p class="header__date">25 august 2019</p>

        <button class="button" id="to-book-tickets">Book Tickets</button>
    </div>


</div>